.app-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
}

main {
  flex: 1;
}

#logo-img {
  height: 7rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-silver);
  padding: 2rem 0;
}

#search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search-bar-wrapper input[type="text"] {
  max-width: 25rem;
}

#filter-buttons-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}

#create-board-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#all-boards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 15rem));
  gap: 1rem;
  margin: 2rem;
  /* overflow-y: auto; */
}

#all-boards a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--color-light);
  box-shadow: var(--box-shadow);
}
.card:hover {
  transform: scale(1.02);
  transition: transform 0.3s;
  box-shadow: 0 2px 4px var(--color-blue-light);
}

@media screen and (max-width: 600px) {
  #logo-img {
    height: 5rem;
  }

  #search-bar-wrapper input[type="text"] {
    max-width: 17rem;
  }
  #filter-buttons-wrapper {
    gap: 0.2rem;
    margin: 0.4rem;
  }
  #filter-buttons-wrapper button,
  #create-board-button-wrapper button {
    padding: 0.1rem 0.2rem;
    font-size: 0.8rem;
    border-radius: 4px;
  }

  #all-boards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
